.node-red/flows.json
[
    {
        "id": "6bde58e8ebe8d187",
        "type": "tab",
        "label": "Cloud Site",
        "disabled": false,
        "info": ""
    },
    {
        "id": "64bceb3d528668ab",
        "type": "mqtt in",
        "z": "6bde58e8ebe8d187",
        "name": "",
        "topic": "Joanne527/temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "d7c802ea.a93e9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "b99e69df6ea6d635",
                "0f91b81f2e3035af",
                "64c017d4349565a9"
            ]
        ]
    },
    {
        "id": "b99e69df6ea6d635",
        "type": "debug",
        "z": "6bde58e8ebe8d187",
        "name": "MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "64c017d4349565a9",
        "type": "ui_gauge",
        "z": "6bde58e8ebe8d187",
        "name": "",
        "group": "8a19d088732214b5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "0a10fba558ce6a90",
        "type": "ui_gauge",
        "z": "6bde58e8ebe8d187",
        "name": "",
        "group": "3721dca87430f5f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 340,
        "wires": []
    },
    {
        "id": "0f91b81f2e3035af",
        "type": "ui_text",
        "z": "6bde58e8ebe8d187",
        "group": "8a19d088732214b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<font size = 4>Current temperature : ",
        "format": "{{msg.payload}}°C",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "af19483d3ee4de4d",
        "type": "ui_text",
        "z": "6bde58e8ebe8d187",
        "group": "3721dca87430f5f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "<font size = 4>Current humidity : ",
        "format": "{{msg.payload}}%",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "0d3b1533c6ae5f1c",
        "type": "mqtt out",
        "z": "6bde58e8ebe8d187",
        "name": "",
        "topic": "Joanne527/led_control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d7c802ea.a93e9",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "fc6b12b4e69042c0",
        "type": "ui_switch",
        "z": "6bde58e8ebe8d187",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "9f2b4fd547457a15",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "0d3b1533c6ae5f1c"
            ]
        ]
    },
    {
        "id": "f8e8a2fb04efc2e9",
        "type": "mqtt in",
        "z": "6bde58e8ebe8d187",
        "name": "",
        "topic": "Joanne527/hum",
        "qos": "0",
        "datatype": "auto",
        "broker": "d7c802ea.a93e9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "af19483d3ee4de4d",
                "0a10fba558ce6a90"
            ]
        ]
    },
    {
        "id": "d7c802ea.a93e9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8a19d088732214b5",
        "type": "ui_group",
        "name": "temperture",
        "tab": "a358d10d0b0462f4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3721dca87430f5f8",
        "type": "ui_group",
        "name": "humidity",
        "tab": "a358d10d0b0462f4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f2b4fd547457a15",
        "type": "ui_group",
        "name": "control_led",
        "tab": "a358d10d0b0462f4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a358d10d0b0462f4",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]